*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
input{
    outline: none;
    padding:0px 5px;
}
.nav_top_container{
    width:100%;
    height:50px;
    background: #053364;
    border-top:3px solid #E5282F;
}

.nav_top{
    width:80%;
    height:100%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#fff
}

.nav_top .nav_top_leftText h4{
    font-size: 1rem;
    overflow:hidden;
    margin:0px;
}

.nav_top_icons span{
    margin:0px 5px;
    cursor: pointer;
}

.nav_logo_date{
    width:80%;
    height:90px;
    margin: 0px auto 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;

}
.nav_logo_contianer{
    height:60px;
    width:30%;
    background: #000;
    margin-left:-15px;
}
.nav_logo_contianer img{
    height:100%;
    width:100%;
}
.nav_date_container{
    height:20px;
    width:200px;
    background:#053364;
    color:#fff;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .active{
    border-bottom: 3px solid #2B2B2B;
} */
.nav_date_container p{
    margin:0px;
    padding: 0px 5px;
}
/* .nav-link{
    font-weight: bold;
} */
#bottom_nav_icon{
    height:28px;
}
#bottom_nav_icon span{
    margin:0px 5px;
    cursor: pointer;
}
.input_search{
    display: none;
    -webkit-transition: .5s ease all;
    -moz-transition: .5s ease all;
    -o-transition: .5s ease all;
    -ms-transition: .5s ease all;
    transition: .5s ease all;
}
.show{
    display: block;
}


@media (max-width:1050px) {
    .nav_logo_contianer{
        margin-left:0px
    }
}

@media (max-width:700px) {
    .nav_logo_contianer{
        width:40%;
    }
}

@media (max-width:570px) {
    .nav_top_container{
        height:60px;
    }
    .nav_top{
        width:100%;
        justify-content: center;
        flex-direction: column;
        gap:5px;
    }
    .nav_top .nav_top_leftText h4{
        font-size: .9rem;
    }
    .nav_logo_contianer{
        width:50%;
    }
}


@media (max-width:400px) {
    .nav_logo_contianer{
        width:55%;
    }
}